<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/andrea-ceron/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="%NUGET_USERNAME%" />
            <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
        </github>
    </packageSourceCredentials>
</configuration>

